/***************************************************
	      minimalist by marija zaric
	      template distributed by
        http: //freehtml5templates.com
***************************************************
***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul
{
	list-style: none;
}

a img
{
	border: none;
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

/***************************************************
			      Global styles
***************************************************/

html
{
	width: 100%;
	height: 100%;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: silver;
	background-image: url(../images/bg.png);
	background-position: left top;
	background-repeat: repeat;
	color: #575757;
	height: 100%;
}

.bg
{
	border-top: 10px solid black;
}

p
{
	margin-top: 3px;
}

a, p a
{
	text-decoration: none;
	color: #a22;
}

a: hover
{
	color: white;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

h1
{
	font-size: 42px;
	line-height: 0.9;
	color: #666666;
	text-align: left;
	margin-bottom: 13px;
	padding-bottom: 15px;
}

h1 span
{
	font-size: 25px;
	line-height: 12px;
	color: #666666;
	margin-left: 10px;
}

h2
{
	font-size: 15px;
	line-height: 1.8;
	color: #666666;
	text-align: left;
	border-bottom: 1px solid #A3A3A3;
	margin-bottom: 7px;
	padding-bottom: 12px;
}

h3
{
	font-size: 18px;
	line-height: 0.9;
	color: #575757;
	text-align: left;
	margin-bottom: 6px;
	padding-bottom: 5px;
}

h4
{
	font-size: 14px;
	line-height: 0.9;
	color: #CC3333;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 3px;
}


header
{
	position: relative;
	height: 62px;
	background-color: white;
	padding: 10px 0;
}

header h1
{
	margin: 0 0 0 0;
	padding-top: 8px;
	position: relative;
	overflow: hidden;
}

footer {
	background-color: rgb(222, 222, 222);
	color: rgb(113, 113, 113);
	font-size: smaller;
	font-weight: bold;
	margin-top: 15px;
	padding: 10px 0;
}



/***************************************************
				   HOLDERS
***************************************************/

.holder_content
{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 4px;
	padding-top: 10px;
}

.holder_content_separator
{
	margin-bottom: 20px;
}



/***************************************************
				       MENU
***************************************************/

nav
{
	position: absolute;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
}



nav ul li
{
	float: left;
	margin-left: 16px;
	line-height: normal;
}

nav ul li a
{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	display: block; /* IE6, IE7 line height fix */
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: transparent;
	margin-top: 8px;
	margin-right: 6px;
	text-decoration: none;
}

nav ul li a: hover
{
	color: #CC3333;
}

nav ul li a.current
{
	color: #CC3333;
}

.content_menu
{
	float: left;
	width: 274px;
	margin-top: -10px;
	margin-bottom: 15px;
}

.content_menu ul
{
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li
{
	float: none;
	padding-bottom: 16px;
}


.content_menu ul li a
{
	font-size: 14px;
	line-height: normal;
	color: #33CC99;
	text-align: left;
	text-decoration: none;
	background-image: url(../images/circle.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.content_menu ul li a: hover
{
	color: #33CC99;
}

/***************************************************
				   SPECIFIC
***************************************************/

#intro
{
	background-color: white;
}


#introContent {
	margin-top: 15px;
}


.button
{
	width: 66px;
	height: 13px;
	position: relative;
	margin-top: 12px;
	padding: 9px;
	background-color: rgb(107, 107, 107);
	display: inline-block;
	color: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
}

.button: hover
{
	background-color: #333333;
}

.button: active
{
	position: relative;
	top: 1px;
}

/***************************************************
				   Twitter Badge
***************************************************/

.twtr-hd, .twtr-ft
{
	display: none;
}

.twtr-timeline
{
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
